* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(32, 33, 36);
    color:rgb(255, 255, 255);
    font-family: 'Wix Madefor Text', sans-serif;
}

body {
    margin: auto;
    max-width: 70%;
    padding: 0;
    font-size: 1.25em;
}

header {
    position: fixed;
}


nav > ul {
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    margin: 1% 5%;
    background-color: transparent;
}

#nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s ease-in-out;
    z-index: 1;
    height: 5%;
    padding: 10px;
  }
  
  #navLeft, #navRight {
    width: 40%;
    font-size: 1.25rem;
  }

  #navLeft {
    left: 0;
  }

  #navRight {
    right: 0;
  }


a {
    text-decoration: none;
}

a:hover, i:hover {
    transition: .8s;
    text-decoration: underline;
    text-decoration-color: red;
}


.profile {
    font-size: 1.2em;
    display: flex;
    margin-top: 20%;
}

#profilePic {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    align-self: center;
    border: 1px solid;
}

#topSubtext {
    margin-bottom: -15px;
}

#profileName {
    color: rgb(252,191,59);
    margin-top: 10px;
}

.introduction {
    margin-left: 35px;
}

#techStack {
    margin-top: 30px;
    line-height: 1.5;
    font-size: 20px;
}


#languages {
    color: rgb(214, 72, 47);
    font-weight: bold;

}


#projects > h1, #about > h1, #contacts > h1  {
    text-align: center;
    color: aqua;
    font-size: 2.5rem;
    margin-bottom: 20px;

}



#about, #projects, #contacts {
    line-height: 1.5;
    font-size: 1.2rem;
    margin-top: 100px;
}


.project {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin: auto;
    justify-content: center;
    gap: 25px;
}

.project-one, .project-two, .project-three {
    width: 235px;
}

.project-one > a > img, .project-two > img, .project-three > img {
    width: 100%;
    height: 250px;
}

.project-one > p, .project-two > p, .project-three > p {
    border: 1px solid;
    margin-top: -5px;
    text-align: center;
    
}


.project-one:hover, .project-two:hover, .project-three:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
}


#name, #email, #subject, #message {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 40px;
    color: black;
    font-size: 20px;
    display: block;
    border-radius: 5px;
    margin: auto;
    text-indent: 0.2rem;
    font-family: 'Times New Roman', Times, serif;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#message {
    height: 200px;
}

#submit {
    width: 100%;
    color: rgb(241, 241, 241);
    background-color: green;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 3%;
    cursor: pointer;
    border: 3px;
}

#submit:hover {
    opacity: 0.9;
}

#submit:active {
    opacity: 0.7;
}

footer > ul {
    list-style: none;;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 100px;
    padding: 0;
    margin-left: 19%;
}

footer > small {
    display: block;
    font-size: 13px;
    text-align: center;
    margin: 20px 0;
}


@media screen and (max-width: 745px) {
    #nav {
        height: 80px;
    }

    #navLeft {
        width: 50%;
        display: block;
        width: 60%;
    }

    #navRight {
        margin-right: 15px;
        width: 50%;
    }
        
    .profile {
        display: block;
    }

    .introduction {
        margin: auto;
    }

    * {
        text-align: center;
    }


    .profile > img {
        margin-top: 20px;
        width: 300px;
        height: 95%;
    }

    #name, #email, #subject, #message {
        text-align: left;
    }


}



 @media screen and (min-width: 745px) and (max-width: 1200px) {
    .profile {
        margin-top: 100px;
    }

    body {
        text-align: left;
    }  
}

@media screen and (min-width: 1200px) { 
    body {
        max-width: 40%;
    }

    .introduction {
        margin: auto;
        margin-left: 5%;
    }

    #navLeft {
        margin-left: -25%;
    }

    #navRight {
        margin-right: -25%;
    }
} 
