* {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255)
}

body {
    margin: auto;
    max-width: 70%;
    padding: 0;
    font-size: 1.25em;
}

header {
    position: fixed;
}


nav > ul {
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    margin: 1% 5%;
    background-color: transparent;
}

#nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s ease-in-out;
    z-index: 1;
    height: 5%;
  }
  
  #navLeft, #navRight {
    width: 40%;
  }

  #navLeft {
    left: 0;
  }

  #navRight {
    right: 0;
  }

  #nav.hidden {
    transform: translateY(-100%);
  }

a {
    text-decoration: none;
}

i:hover, a:hover {
    transition: .2s;
    text-decoration: underline;
    text-decoration-color: red;
    font-size: 1.25em;
}

i:hover {
    transition: .05s;
}

.profile {
    font-size: 1.2em;
    display: flex;
    margin-top: 20%;
}

.introduction {
    margin-left: 5%;
}

.introduction > h2 {
    color: aquamarine;
    font-size: 2.5em;
    margin-top: -20px;
    margin-bottom: -17px;
}

.introduction > p {
    line-height: 1.5;
}

.profile > img {
    width: 300px;
    height: 55%;
    margin-top: 20px;
    border-radius: 5%;
}

#languages {
    color: rgb(253, 76, 44);
}


#projects > h1, #about > h1, #contacts > h1  {
    margin-top: 20%;
    text-align: center;
    color: aqua;
    font-size: 2.5em;

}

#about > p {
    line-height: 1.5;
    font-size: 1.2em;
}


.project {
    display: flex;
    margin-top: 5%;
    margin: auto;
    justify-content: space-between;
    
}

.project-one, .project-two, .project-three {
    width: 30%;
}

.project-one > a > img, .project-two > img, .project-three > img {
    width: 100%;
    height: 70%;
}

.project-one > p, .project-two > p, .project-three > p {
    border: 1px solid;
    background-color: rgb(112, 21, 21);
    margin-top: -5px;
    text-align: center;
    
}


.project-one:hover, .project-two:hover, .project-three:hover {
    cursor: pointer;
    transition: 1s;
    transform: scale(1.2);
}

#contacts {
    display: block;
    margin-bottom: 100px;
    margin-top: -100px;
    width: 100%;
}

#name, #email, #subject, #message {
    background-color: rgb(236, 227, 227);
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
    height: 50px;
    color: black;
    font-size: 20px;
    border-radius: 5px;
}

#message {
    height: 300px;
}

#submit {
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 10%;
    font-weight: 600;
    background-color: green;
    cursor: pointer;
}

#submit:hover {
    opacity: 0.9;
}

#submit:active {
    opacity: 1.5;
}

@media screen and (max-width: 745px) {
    #navLeft {
        width: 50%;
        display: block;
        width: 60%;
    }

    #navRight {
        margin-right: 15px;
        width: 50%;
    }
        
    .profile {
        display: block;
    }

    .introduction {
        margin: auto;
    }

    * {
        text-align: center;
    }

 

    .profile > img {
        margin-top: 20px;
        width: 300px;
        height: 95%;
    }

    .project {
        display: block;
        text-align: center;
        max-width: 100%;
        margin: auto;
    }
    .project-one, .project-two, .project-three {
        width: 80%;
        margin: auto;
    }

    #contacts {
        margin-top: 100px;
    }

    #name, #email, #subject, #message {
        text-align: left;
    }

}

 @media screen and (min-width: 745px) and (max-width: 1200px) {
    .profile {
        margin-top: 100px;
    }

    body {
        text-align: left;
    }


    
}

@media screen and (min-width: 1200px) { 
    body {
        max-width: 40%;
    }

    .introduction {
        margin: auto;
        margin-left: 5%;
    }

    #navLeft {
        margin-left: -25%;
    }

    #navRight {
        margin-right: -25%;
    }


} 
